@import 'tailwindcss';
@import "flowbite/src/themes/default";
@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');
@plugin "flowbite/plugin";

@source "../../node_modules/flowbite";
@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans:  "Pixelify Sans", sans-serif;
    --font-pixelify: "Pixelify Sans", sans-serif;
}

.button-mc {
    border: 1px solid black;
    border-radius: 0px;
    box-shadow: inset -4px -4px 0px 0px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}